:root {
	--primary: #830040ff;
	--secondary: rgba(255, 166, 0, 0.208);
	--dark: black;
	--light: rgb(255, 247, 242);
}

body {
	min-height: 100vh;
	background-color: #fce9da;
	font-family: 'poppins', 'Times New Roman', Times, serif;
}

main {
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
	background-color: var(--light);
	padding: 45px 40px;
	border-radius: 20px;
}

.login h2 {
	font-size: 40px;
	margin-bottom: 25px;
	color: var(--primary);
	text-align: center;
	font-weight: 700;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

#login-form #btnEnviar {
	padding: 5px 40px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--light);
	border: none;
	border-radius: 20px;
	background-color: var(--primary);
	margin-bottom: 15px;
	transition: 0.3s;
}

#login-form #btnEnviar:hover {
	background-color: rgb(168, 0, 81);
}

#login-form #btnInvitado {
	margin: 15px 0px 10px 0px;
	font-size: 14px;
	color: var(--primary);
	border: none;
	box-shadow: 0px 0px 5px 0px var(--dark);
	padding: 5px 20px;
	text-transform: uppercase;
	border-radius: 20px;
	transition: 0.3s;
}

#login-form #btnInvitado:hover {
	background-color: rgb(255, 255, 255);
}

#login-form .camp input {
	width: 265px;
	border-radius: 20px;
	border: 0.1px solid rgb(128, 128, 128);
	background-color: rgb(255, 255, 255);
	padding: 10px 15px;
	outline: none;
}

.login .camp-registrate {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login .camp-registrate p {
	margin-bottom: 0;
}

.login .camp-registrate a {
	text-transform: uppercase;
}

.hidden {
	display: none;
}

#alerta {
	position: absolute;
	top: 5%;
	left: 39.3%;
	padding: 10px;
	border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 0 10px 0px black;
	background-color: salmon;
	width: 20%;
	text-align: center;
}

#alerta p {
	font-size: 20px;
	line-height: 2;
}

#btnDenegado {
	background-color: #fce9da;
	border: 0px;
	border-radius: 10px;
}

